MYSQL_ROOT_PASSWORD=cimatec
MYSQL_DATABASE=sprint3db
MYSQL_PORT=3306
API_PORT=8080

ASPNETCORE_ENVIRONMENT=Development
APPLY_MIGRATIONS=true
JWT_SECRET_KEY=Sprint3JwtSecretKeyMuitoSeguraComMaisDe32Caracteres
JWT_ISSUER=Sprint3API
JWT_AUDIENCE=Sprint3Client
JWT_EXPIRATION_MINUTES=60
